.qr-options {
    display: flex;
    /* justify-content: space-between; */
    margin: 20px 70px;
}

.create-qr {
    border: 3px solid #008A0E;
    border-radius: 20px;
    padding: 20px 30px;
    margin-right: 50px;
}

.create-qr h2 {
    font-size: 18px;
    font-weight: 700;
    color: #008A0E;
    margin-bottom: 20px;
}

.create-qr p {
    font-size: 16px;
    font-weight: 700;
    color: #000;
    margin-bottom: 20px;
}

.filter-qr,
.filter-data-qr {
    display: flex;
    align-items: center;
}


.btn-create-qr {
    background: #0aa61a !important;
    border: 0;
    color: #fff;
    padding: 5px 5px;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    /* position: absolute;
    top: auto;
    bottom: 0px; */
}

.btn-create-qr:disabled {
    cursor: not-allowed;
    background-color: #4b4b4b;
}

.btn-create-qr img {
    width: 30px;
    /* margin-left: 10px; */
}

.data-option .search input {
    border: 2px solid #A2A2A2;
    border-radius: 5px;
    background: #F1F1F1;
    background-image: url('../../img/search.png');
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 340px center;
    width: 370px;
    height: 40px;
    margin-right: 20px;
    padding: 5px 30px 5px 10px;
    font-size: 16px;
    color: #000;
    margin-bottom: 20px;
}

.cart-qr-group {
    border-radius: 16px;
    border: 1px solid #A2A2A2;
    background: #F1F1F1;
    box-shadow: 6px 6px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 20px 70px;
    padding: 20px 30px;
    position: relative;
}

.qr-setting {
    position: absolute;
    left: auto;
    right: 5px;
    top: 10px;
    bottom: auto;
    border: none;
    background: none;
    cursor: pointer;
}

.qr-setting img {
    width: 20px;
}

.data-qr {
    display: grid;
    grid-template-columns: 0.3fr 0.7fr;
    color: #000;
    font-size: 16px;
    font-weight: 400;
}

.data-qr span {
    font-weight: 700;
}
.qr1{
    margin-right: 10px;
}

.qr2 {
    display: flex;
}

.qr2 span {
    margin-right: 20px;
}

.dicip {
    width: 100%;
    column-width: 48%;
    column-count: 2;
    column-gap: 3%;

}


.data-qr p {
    margin-bottom: 10px;
}

.add-qr-group {
    background: none;
    border: none;
    display: flex;
    margin-left: auto;
    margin-right: 80px;
    margin-top: -20px;
    margin-bottom: 40px;
    cursor: pointer;
    font-size: 40px;
    color: #04D300;

}

.add-qr-group img {
    width: 36px;
}

.get-params-qr,
.delete-params-qr {
    font-size: 18px;
    color: #fff;
    font-weight: 700;
    height: 40px;
    padding: 0 20px;
    cursor: pointer;
    border-radius: 4px;
}

.get-params-qr {
    background-color: #04D300;
    color: #fff;
    border: none;
    margin-right: 20px;
}

.get-params-qr:hover {
    background-color: #1e971c;
}

.delete-params-qr {
    color: #04D300;
    background-color: #fff;
    border: 3px solid #04D300;
}

.delete-params-qr:hover {
    color: #1e971c;
    border-color: #1e971c;
}

.h-discip{
    display: block;
    margin-bottom: 20px;
    font-size: 18px;
}
.content-discip{
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}